body {
  width: 1080px;
  margin: 0 auto;
}

.tags-container {
  padding: 0 126px;
}

.tags {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  border: solid 1px #dddfe0;
  padding: 12px 18px;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  color: #333;
  border-radius: 6px;
  list-style: none;
}

.tags-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 252px;
  height: 14px;
  padding:  14px 36px 14px 12px;
  margin: 6px 0;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  background-color: #eef2f7;
  border-radius: 6px;
}

.tags-item-insert {
  display: flex;
  align-self: center;
  align-items: center;
  height: 14px;
  padding: 14px 6px;
}

.tags-item-reset {
  position: absolute;
  z-index: 2;
  right: 12px;
  top: 15px;
  width: 12px;
  height: 12px;
}

.tags-item:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 246px;
  height: 42px;
  width: 54px;
  background-image: linear-gradient(to right, rgba(238, 242, 247, 0), #eef2f7 30px, #eef2f7);
  content: '';
}
